## Handiling Imblalnced Dataset
[x] upsampaling <br>
[x] Downsamplaing <br>

In [1]:
# upsamplaing 

import numpy as np
import pandas as pd

np.random.seed(123)
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0


n_class_0, n_class_1

(900, 100)

In [2]:
# Create a simple dataset
class_0=pd.DataFrame({
  "feature_0": np.random.normal(0, 1, n_class_0),
  "feature_1": np.random.normal(0, 1, n_class_0),
  "target": [0] * n_class_0
})

class_1=pd.DataFrame({
  "feature_0": np.random.normal(1, 1, n_class_1),
  "feature_1": np.random.normal(1, 1, n_class_1),
  "target": [1] * n_class_1
})

In [4]:
dataframe=pd.concat([class_0, class_1]).sample(frac=1).reset_index(drop=True)
dataframe.head()

   feature_0  feature_1  target
0  -1.605181  -0.933751       0
1  -0.167000  -0.718403       0
2   0.600571   0.627744       0
3  -1.450683   0.162671       0
4  -1.081819   0.648563       0

In [5]:
dataframe["target"].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [6]:
## Upsampling

dataframe_minotity=dataframe[dataframe["target"]==1]
dataframe_majority=dataframe[dataframe["target"]==0]

In [16]:
from sklearn.utils import resample
minority_upsample=resample(dataframe_minotity, replace=True, n_samples=len(dataframe_majority), random_state=123)
dataframe_upsample=pd.concat([dataframe_majority, minority_upsample])
dataframe_upsample["target"].value_counts()

target
0    900
1    900
Name: count, dtype: int64